html, body {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    padding: 0;
    margin: 0;
}

.container {
    width: auto;
    min-width: 95%;
}

a, a:visited, a:active {
    color: #262937;
    text-decoration: none;
}

a:hover {
    color: #2cffc8;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    color: #262937;
    font-weight: 800;
}

p {
    line-height: 2em;
}

h1 {
    margin: 0 0 20px 0;
}

nav#mainNav {
    width: 100%;
    background-color: transparent;
    padding: 5vh 0;
    z-index: 9999!important;
}

#mainNav.scrolled {
    background-color: #262937 !important;
    padding: 3vh 0;
    transition: all 0.4s;
}

#navbarNavDropdown {
    flex-direction: row-reverse;
}

#menuLogo {
    height: 45px;
    width: auto;
}

ul#mainMenu {
    font-size: 0.8em;
    font-weight: 400;
}

ul#mainMenu li > a, a:visited, a:active {
    color: #fff;
}

ul#mainMenu li > a:hover {
    color: #e1ff19;
}

.dropdown-menu {
    background-color: #1d202b;
}

.dropdown-menu > a, a:visited, a:active {
    color: #fff;
}

.dropdown-menu > a:hover {
    color: #e1ff19;
}

.dropdown-item:hover {
    background-color: transparent;
}

.dropdown-item {
    font-size: 0.8em;
}

#btnGetStarted {
    margin: 0 0 0 30px;
}

.normal-btn {
    background-color: #e1ff19;
    color: #000;
    border-radius: 24px;
    padding: 12px 24px;
    font-size: 0.8em;
    font-weight: 500;
}

#slider {
    min-height: 100%;
    background-color: #f4f4f4;
    display: flex;
    align-items: center;
    background-image: url('../img/slider-main.jpg');
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
}

#slider h1 {
    font-size: 4em;
    font-weight: 800;
    padding: 30px 0;
    color: #fff;
}

#slider p {
    width: 50%;
}

#sliderButton {
    padding: 16px 32px;
    border-radius: 32px;
    margin: 30px 0;
}

#contactTop {
    padding: 60px 0;
    background-color: #e1ff19;
    background-image: url('../img/contact-bg.jpg');
    background-size: cover;
}

#contactTop .container {
    text-align: right;
}

.contact-top-text {
    font-weight: 300;
}

.contact-top-text-second {
    font-weight: 500;
    color: #fff;
}

#content {
    padding: 60px 15px;
}

#contentImage {
    text-align: right;
}

#contentImage img {
    width: 90%;
    height: auto;
}

#explore {
    padding: 60px 0;
    background-color: #262937;
}

#explore div h2 {
    text-align: center;
    color: #fff;
}

#explore div {
    color: #fff;
}

#explore div div.row {
    padding: 70px 0 0 0;
}

.explore-icon {
    text-align: center;
    color: #fff;
}

.explore-icon h3 {
    color: #fff;
    margin: 20px 0;
}

.explore-icon i {
    color: #e1ff19;
}

.explore-icon p {
    font-size: 0.8em;
}

.read-more {
    font-weight: 500;
    font-size: 0.8em;
    color: #e1ff19;
}

#plans {
    display: flex;
    flex-wrap: wrap;
    margin: 5vh auto;
}

.plan-card,
.plan-card-last {
    flex: 1 1 calc(30% - 5%); /* Flexbox: równy podział szerokości z odstępami */
    margin-right: 5%;
}

.plan-card-last {
    margin-right: 0;
}

.card-inside {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.card-inside > h3,
.card-inside > h5,
.card-inside > p,
.card-inside > ul {
    margin: 0 0 35px 0;
}
.card-inside > h3, h5, p, ul {
    margin: 0 0 35px 0;
}

.card-inside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px;
    height: 100%;
    min-height: 100%;
}

.card-inside ul {
    font-size: 0.8em;
}

.card-inside .normal-btn {
    align-self: flex-end;
    margin: 0 auto;
}

#cardOne {
    background-color: #2cffc8;
    color: #262937;
}

#cardTwo {
    background-color: #262937;
    color: #fff;
}

#cardTwo h3, #cardTwo h5 {
    color: #fff;
}

#cardTwo .normal-btn {
    background-color: #2cffc8;
}

#cardThree {
    background-color: #e1ff19;
    color: #262937;
}

#cardThree .normal-btn {
    background-color: #262937;
    color: #fff;
}

.card-one, .card-two, .card-three {
    position: relative;
    overflow: hidden;
}

.bg-hover {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: 50% 50%;
    opacity: 0.07;
    transition: all 0.3s;
}

.bg-hover-one {
    background-image: url('../img/card-one.jpg');
}

.bg-hover-two {
    background-image: url('../img/card-two.jpg');
}

.bg-hover-three {
    background-image: url('../img/card-three.jpg');
}

.card-one:hover .bg-hover-one {
    display: none;
}

.card-two:hover .bg-hover-two {
    display: none;
}

.card-three:hover .bg-hover-three {
    display: none;
}

#newsletterSignup {
    padding: 60px 0;
    background-color: #262937;
    background-image: url('../img/newsletter-bg.jpg');
    background-size: cover;
    background-position: 50% 50%;
    color: #fff;
    text-align: center;
}

#newsletterSignup h1, #newsletterSignup h4 {
    color: #fff;
}

.newsletter-wrap {
    padding: 30px 0;
}

.newsletter-wrap input {
    background-color: #fff;
    color: #000;
    width: 300px;
    margin-right: 20px;
}

footer {
    background-color: #262937;
    color: #fff;
    padding: 0 0 0 0;
}

.footer-first {
    padding: 60px 0 30px 0;
}

.footer-widget img {
    width: 70%;
    height: auto;
    margin: 0 0 20px 0;
}

.footer-widget p {
    line-height: 1.5em;
    font-size: 0.8em;
    color: #a8aec4;
    margin: 15px 0;
}

.footer-widget h5 {
    color: #fff;
}

.footer-widget p i {
    color: #e1ff19;
    margin-right: 10px;
}

.footer-last {
    background-color: #1d202b;
    padding: 30px 0;
    font-size: 0.8em;
    color: #a8aec4;
}