html, body {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

a, a:visited, a:active {
    color: #262937;
    text-decoration: none;
}

a:hover {
    color: #2cffc8;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    color: #262937;
    font-weight: 800;
}

p {
    line-height: 2em;
}

h1 {
    margin: 0 0 20px 0;
}

nav#mainNav {
    width: 100%;
    background-color: transparent;
    padding: 40px 0;
    z-index: 9999!important;
}

#mainNav.scrolled {
    background-color: #262937 !important;
    padding: 25px 0;
    transition: all 0.4s;
}

#navbarNavDropdown {
    flex-direction: row-reverse;
}

#menuLogo {
    height: 45px;
    width: auto;
}

ul#mainMenu {
    font-size: 0.8em;
    font-weight: 400;
}

ul#mainMenu li > a, a:visited, a:active {
    color: #fff;
}

ul#mainMenu li > a:hover {
    color: #e1ff19;
}

.dropdown-menu {
    background-color: #1d202b;
}

.dropdown-menu > a, a:visited, a:active {
    color: #fff;
}

.dropdown-menu > a:hover {
    color: #e1ff19;
}

.dropdown-item:hover {
    background-color: transparent;
}

.dropdown-item {
    font-size: 0.8em;
}

#btnGetStarted {
    margin: 0 0 0 30px;
}

.normal-btn {
    background-color: #e1ff19;
    color: #000;
    border-radius: 24px;
    padding: 12px 24px;
    font-size: 0.8em;
    font-weight: 500;
}

#slider {
    min-height: 100%;
    background-color: #f4f4f4;
    display: flex;
    align-items: center;
    background-image: url('../img/slider-main.jpg');
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
}

#slider h1 {
    font-size: 4em;
    font-weight: 800;
    padding: 30px 0;
    color: #fff;
}

#slider p {
    width: 50%;
}

#sliderButton {
    padding: 16px 32px;
    border-radius: 32px;
    margin: 30px 0;
}

#contactTop {
    padding: 60px 0;
    background-color: #e1ff19;
    background-image: url('../img/contact-bg.jpg');
    background-size: cover;
}

#contactTop .container {
    text-align: right;
}

.contact-top-text {
    font-weight: 300;
}

.contact-top-text-second {
    font-weight: 500;
    color: #fff;
}

#content {
    padding: 60px 15px;
}

#contentImage {
    text-align: right;
}

#contentImage img {
    width: 90%;
    height: auto;
}

#explore {
    padding: 60px 0;
    background-color: #262937;
}

#explore div h2 {
    text-align: center;
    color: #fff;
}

#explore div {
    color: #fff;
}

#explore div div.row {
    padding: 70px 0 0 0;
}

.explore-icon {
    text-align: center;
    color: #fff;
}

.explore-icon h3 {
    color: #fff;
    margin: 20px 0;
}

.explore-icon i {
    color: #e1ff19;
}

.explore-icon p {
    font-size: 0.8em;
}

.read-more {
    font-weight: 500;
    font-size: 0.8em;
    color: #e1ff19;
}

#plans {
    padding: 60px 15px;
}

#newsletterSignup {
    padding: 60px 0;
    background-color: #e1ff19;
}

footer {
    background-color: #262937;
    color: #fff;
    padding: 60px 0 30px 0;
}